body{
    background-color: steelblue;
}

.parent{
    background-color: rgb(173, 255, 47);
    height:400px;
    width:600px;
    margin: 50px;
    position: relative;
}
.child-one{
    background-color: rgb(255, 107, 181);
    height:150px;
    width:350px;
    position: absolute;
    margin-left:25px;
    margin-top: 30px;
}
.child-two{
    background-color:rgb(33, 146, 57);
    height:150px;
    width:350px;
    position: absolute;
    margin-left: 100px;
    margin-top: 120px;
}
.child-one h1{
    margin:50px;
    text-align: center;
}
.child-two h1{
    margin:50px;
    text-align: center;
}